.parentFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin-top: 1%; */
}

