

<div class="parentFormContainer">
  <div id="formContainer">
    <form class="container" [formGroup]="settingForm" (ngSubmit)="OnSubmit()"  >

      <div class="mb-3">
        <label class=" d-flex justify-content-start" for="location">maximum stop  :
        </label>
        <div class="dropdown">
          <select class="form-select" id="locationSelect" #locationSelect
            (change)="onSelected(locationSelect.value)"
            formControlName="maximumstop">
            <option value>Select location</option>
            <option *ngFor="let loc of location" [value]="loc">{{ loc }}</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">driverrequest
          :</label>
        <div class="dropdown">
          <select class="form-select" formControlName="driverrequest" #driverrequest
            (change)="Onselecteddriverrequest(driverrequest.value)">
            <option value>select driverrequest </option>
            <option *ngFor="let request of driverrequestaccept" [value]="request">{{
              request }}</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Twilio AccountSid:</label>
        <input type="text" class="form-control" formControlName="assountsid" />
      </div>


      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Twilio Auth Token:</label>
        <input type="text" class="form-control" formControlName="authtoken" />
      </div>


      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Nodemailer Email:</label>
        <input type="text" class="form-control" formControlName="emailusername" />
      </div>


      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Nodemailer Password:</label>
        <input type="text" class="form-control" formControlName="emailpassword" />
      </div>

      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Stripe public:</label>
        <input type="text" class="form-control" formControlName="public" />
      </div>

      <div class="mb-3">
        <label class="form-label d-flex justify-content-start">Stripe Secreat Key ::</label>
        <input type="text" class="form-control" formControlName="secreat" />
      </div>

      <button type="submit" class="btn btn-primary w-40" id="submitBtn">
        Update-setting
      </button>
    </form>
  </div>
</div>
