<div><button mat-raised-button  color="primary" *ngIf="ridehistory" (click)="downloadCsv(ridehistory)">Download CSV</button></div>

<div class="flex-container">
  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <!-- <label for="vehicle">Vehicle Type :</label> -->
      <!-- <select id="vehicle" #vehicle (change)="onSelectedvehicle(vehicle.value)" formControlName="vehicle_id">
        <option value ="">Select vehicle</option>
        <option [value]="vehicle._id" *ngFor="let vehicle of vehicledata">
          {{ vehicle.vehiclename }}
        </option>
      </select> -->

      <label for="cashCard" style="padding-left: 20px;">Payment options :</label>
      <select id="cashCard" formControlName="cashCard">
        <option value="">Select option</option>
        <option value="cash">Cash</option>
        <option value="card">Card</option>
      </select>

      <label for="dateRange"  style="padding-left: 20px;" >From Date  : </label>
      <input type="date" id="dateRange" formControlName="fromdate" />

      <label for="dateRange"  style="padding-left: 20px;" > To Date  :</label>
      <input type="date" id="dateRange" formControlName="todate" />


      <label for="pickupLocation"  style="padding-left: 20px;" >Pickup Location  :</label>
      <input type="text" id="pickupLocation" formControlName="pickupLocation" />

      <label for="dropoffLocation"  style="padding-left: 20px;" >Drop-off Location:</label>
      <input type="text" id="dropoffLocation" formControlName="dropoffLocation" />

      <button mat-raised-button type="submit"  style="margin-left: 20px;" >Filter</button>
    </form>
  </div>
</div>

<div class="m-5">
  <table mat-table [dataSource]="ridehistory" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="requestId">
      <th mat-header-cell *matHeaderCellDef>REQUEST ID</th>
      <td mat-cell *matCellDef="let ride">{{ ride._id }}</td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>USER ID</th>
      <td mat-cell *matCellDef="let ride">{{ ride.user_id }}</td>
    </ng-container>
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>USER NAME</th>
      <td mat-cell *matCellDef="let ride">{{ ride.userdata.username }}</td>
    </ng-container>
    <ng-container matColumnDef="pickupTime">
      <th mat-header-cell *matHeaderCellDef>PICKUP TIME</th>
      <td mat-cell *matCellDef="let ride">{{ ride.date }} {{ ride.time }}</td>
    </ng-container>
    <ng-container matColumnDef="pickupLocation">
      <th mat-header-cell *matHeaderCellDef>PICKUP LOCATION</th>
      <td mat-cell *matCellDef="let ride">{{ ride.startlocation }}</td>
    </ng-container>
    <ng-container matColumnDef="destinationLocation">
      <th mat-header-cell *matHeaderCellDef>DESTINATION LOCATION</th>
      <td mat-cell *matCellDef="let ride">{{ ride.destinationlocation }}</td>
    </ng-container>
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef>SERVICE</th>
      <td mat-cell *matCellDef="let ride">
        {{ ride.vehicledata.vehiclename }}
      </td>
    </ng-container>
    <ng-container matColumnDef="payment">
      <th mat-header-cell *matHeaderCellDef>PAYMENT</th>
      <td mat-cell *matCellDef="let ride">{{ ride.paymentoption }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>STATUS</th>
      <td mat-cell *matCellDef="let ride">{{ ride.assigned }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let ride; columns: displayedColumns" (click)="openDialog(ride)"></tr>
  </table>
</div>
