h1{
  font-family: cursive;
  padding: 40px;
  color: white;
}
.parentFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin-top: 1%; */
}
#formContainer{
  background-color: #ffffff;
  /* border-radius: 10px; */
  box-shadow: 2px 2px 8px #00000043;
  width: 40vw;
  height: 50%;
  padding: 20px;
  margin: 40px;
}
input{
  width: 100%;
  padding: 5px;
}
#login{
  padding-top: 10px;
}
#login a{
  color: rgb(122, 34, 18);
  text-decoration: none;
  cursor: pointer;
}




/*
mat-card{
  margin-top: 2%;
  margin-left: 25%;
  text-align: left;
  width: 45%;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 4%;
}

.mat-50{

  margin: 1%;
}

button{
  margin: 2px;
} */
/*
.dropdown{
  background-color: cadetblue;
} */

.button{
  margin-top: 20px;
}

.card-container{
  width: 67%;
  margin-left:21%;
  margin-top: 3%;
}
.card{
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  transition: all linear 200ms;

}
.card:hover{
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  cursor: pointer;
}

.card-title{
  margin-bottom: 0px;
}

/* @media screen and (max-width: 480px) {

.card-container{
  margin-left:15%;
}
}
@media screen and (max-width: 780px) {
  #formContainer{
    width: 80vw;
}
} */


.flex-container {
  display: flex;
  flex-wrap: wrap;
justify-content: center;

  align-items: center;
}

.flex-container > div {
  margin: 10px;
  line-height: 75px;

}


@media only screen and (min-width: 1200px) {
}


/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #formContainer{
    width: 80vw;
}

}


/* For Mobile View */
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  #formContainer{
    width: 80vw;

}
.card-container{
  margin-left:19%;
}
}


@media screen and (max-device-width: 480px) {
  #formContainer{
    width: 80vw;
}
}

